<template>
    <div class="container-fluid main-dark">
        <div class="row justify-content-center mx-5">
            <div class="col-10">
                <div class="card mx-auto card-dark">
                    <div class="card-body">
                        <!--Top block start-->
                        <h2 class="h3-dark">Article</h2>
                        <div class="row">
                            <div class="select-input-dark pl-4">
                                <div class="my-2 float-left">
                                    <p class="label-dark"><span class=" article-desc">Title </span>:
                                        {{ article.title }}</p>

                                    <p class="label-dark"><span class=" article-desc">Short Description </span>:
                                        {{ article.short_description }}</p>

                                    <p class="label-dark"><span class=" article-desc">Body </span>:
                                        {{ article.body }}</p>

                                    <p class="label-dark"><span class=" article-desc">Views </span>:
                                        {{ article.views }}</p>

                                    <p class="label-dark"><span class=" article-desc">Created At </span>:
                                        {{ createdDate }}</p>
                                </div>
                                <div class="my-2 float-left">
                                    <p class="label-dark"><span class=" article-desc">Product's article </span>:
                                        {{ product.name }} </p>
                                </div>

                            </div>
                        </div>
                        <div class="my-2 float-left">
                            <router-link to="/">Go back</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import moment from 'moment';

export default {
    name: 'Article',
    data() {
        return {
            createdDate: ''
        }
    },
    computed: {
        ...mapGetters([
            'article',
            'product',
        ]),
    },
     async mounted() {
        let data = {
            'articleId': this.$route.params.id,
         }
        await this.$store.dispatch('fetchArticle', data);

        let createdAt = this.article.created_at;
         createdAt = moment(createdAt).format('MMMM Do YYYY, h:mm:ss a');

        this.createdDate = createdAt

    },
    methods: {

    }
}
</script>

<style scoped>
@keyframes anim {
    100% {
        transform: rotate(360deg);
    }
}

.main-dark {
    background: #242432;
    min-height: 969px;
}

.label-dark {
    color: white;
    font-size: 16px;
    line-height: 19px;
}

.h3-dark {
    color: white;
    text-align: center;
}

.card-dark {
    margin-top: 50px;
    background: #31313e;
    border-radius: 10px;
    box-shadow: -5px -5px 40px 5px #242432, 5px 5px 40px 5px #242432;
}

.select-input-dark {
    width: 90%;
    margin: 15px auto;
    background: #3b3b49;
    color: #fba700;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 19px;
}

.article-desc {
    background: #3b3b49;
    color: #fba700;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.select-input-dark:focus {
    color: #fba700;
    background: #3b3b49;
}

.convert-button-dark {
    line-height: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    width: 240px;
    height: 60px;
    background: #fba700;
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    box-shadow: -3px -3px 20px 3px #242432, 3px 3px 20px 3px #242432;
}

.back-button-dark {
    margin-top: 20px;
    color: #fba700;
    background: none;
    border: none;
    font-size: 24px;
    line-height: 29px;
}

.back-button-dark:hover {
    text-decoration: underline;
    margin-top: 20px;
    color: #fba700;
    background: none;
    border: none;
}

.nighty-style {
    margin-top: 170px;
    cursor: pointer;
}

.readonly-dark {
    background: #3b3b49;
    color: #fba700;
}
</style>
