<template>
    <div class="container-fluid main-dark">
        <div class="row justify-content-center mx-5">
            <div class="col-3">
                <div class="card mx-auto card-dark">
                    <div class="card-body" v-if="loading">
                        <!--Top block start-->
                        <div class="row">
                            <div class="col-12">
                                <h3 class="h3-dark ">Filter by</h3>
                            </div>
                            <div class="col-12 pt-5">
                                <p class="label label-dark" @click="filtering('views')" ref="views" value="views"><a href="#">Views</a></p>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="label label-dark pt-4"><a href="#">Product</a></label>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control select-input-dark"
                                                v-model="product"
                                                @change="selectProduct">
                                            <option v-for="item in products"
                                                    :key="item.id"
                                                    :value="item.id"
                                                    :selected="product === item.id"
                                                    :data-id="item.id"
                                            >
                                                {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <label class="label label-dark pt-4"><a href="#">How many articles to show</a></label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control select-input-dark" @change="selectArtCount" v-model="count">
                                            <option v-for="art in artCount"
                                                    :selected="count === art"
                                                    :key="art"
                                                    :value="art"
                                            >
                                                {{ art }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <p class="label label-dark" @click="filtering('created_at')" ref="created_at" value="created_at">
                                    <a href="#">Creation date in descending order</a>
                                </p>
                            </div>
                        </div>
                        <!--Top block end-->
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card mx-auto card-dark">
                    <div class="row" v-if="!loading">
                        <div class="col">
                            <h2 class="m-0 py-3 loading-dark">Loading...</h2>
                        </div>
                    </div>
                    <div class="card-body" v-if="loading">
                        <!--Top block start-->
                        <h2 class="h3-dark">Articles</h2>
                        <div class="row">
                            <div v-for="article in items" class="select-input-dark pl-4">
                                <div class="my-2">
                                    <router-link :to="'/article/'+article.id">
                                        <div @click="updateArticle(article.id)">
                                            <p class="label-dark"><span class="label-dark article-desc">Belongs to product </span>:
                                                {{ article.product.name }}</p>

                                            <p class="label-dark"><span class="label-dark article-desc">Title </span>:
                                                {{ article.title }}</p>

                                            <p class="label-dark"><span class="label-dark article-desc">Description </span>:
                                                {{ article.short_description }}</p>

                                            <p class="label-dark"><span class="label-dark article-desc">Views </span>:
                                                {{ article.views }}</p>

                                            <p class="label-dark"><span class="label-dark article-desc">Created at </span>:
                                                {{ dateFormat(article.created_at) }}</p>
                                        </div>
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-footer mx-auto pt-3">
                                count: {{count}}
                                <jw-pagination :pageSize="count" :items="articles" @changePage="onChangePage" class="w-100"></jw-pagination>
                            </div>
                        </div>
                        <!--Top block end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex';
import moment from "moment";
import JwPagination from 'jw-vue-pagination';

export default {
    name: 'Blog',
    components: {
        'jw-pagination': JwPagination
    },
    props: ['fetch-products', 'fetch-articles', 'filter-route'],
    data() {
        return {
            product: '',
            loading: false,
            items: [],
            artCount:[
                1,3,5,10,20
            ],
            count: 1
        }
    },
    computed: {
        ...mapGetters([
            'products',
            'articles',
        ]),
    },
    async mounted() {
        await this.$store.dispatch('fetchProducts', this.fetchProducts);
        await this.$store.dispatch('fetchArticles', this.fetchArticles);
        this.loading = true;
    },
    methods: {
        async filtering(param) {
            let url = this.filterRoute;

            let data = {
                'url': url,
                'filterBy': param
            };
            await this.$store.dispatch('filter', data);
        },
        selectProduct() {
            this.filtering(this.product);
        },
        async updateArticle(id) {
            let data = {
                'article_id': id
            };
            await this.$store.dispatch('updateArticle', data);
        },
        dateFormat(date) {
            let createdAt = moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return createdAt;
        },
        selectArtCount() {
            let activePageLink = document.querySelector('.page-item.page-number.active .page-link');
            setTimeout(() => {
                 activePageLink.click();

            }, 500)
        },
        onChangePage(pageOfItems) {
            this.items = pageOfItems;
        }
    }
}
</script>

<style scoped>
.main-dark {
    background: #242432;
    min-height: 969px;
}

.label-dark {
    color: white;
    font-size: 16px;
    line-height: 19px;
}

.h3-dark {
    color: white;
    text-align: center;
}

.loading-dark {
    color: white;
    text-align: center;
}

.card-dark {
    margin-top: 50px;
    background: #31313e;
    border-radius: 10px;
    box-shadow: -5px -5px 40px 5px #242432, 5px 5px 40px 5px #242432;
}

.select-input-dark {
    width: 90%;
    margin: 15px auto;
    background: #3b3b49;
    color: #fba700;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.article-desc {
    background: #3b3b49;
    color: #fba700;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.select-input-dark:focus {
    color: #fba700;
    background: #3b3b49;
}
</style>
